
button{

    background-color:ghostwhite;
    transition: > all 500ms cubic-bezier(0.6, -0.28, 0.13, 1.12);

}

button:hover{

    background-color:blueviolet;
}

img{
    width:80%;
    opacity: 2s;
}